*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.hero{
    height: 80px;
    background-color: #4ea0ff;
    background-image: url(/img/pattern.png);
    background-size: 30%;
}

.heropicture{
    height: 50%;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
}

h1{
    font-size: 39px;
    margin-top: 20px;
}

.sottotitolo{
    margin-bottom: 20px;
    color: gray;
    text-decoration: none;
}

.giornopubblicazione{
    font-size: 10px;
}

.didascalia{
    font-size: 12px;
    margin-bottom: 20px;
}

.introarticolo{
    margin-bottom: 20px;
}

.evidenziato{
    background-color: yellow;
}

ul{
    margin-bottom: 20px;
}

table{
    margin-bottom: 20px;
    width: 100%
}

thead > tr{
   background-color: #20a9e5;
   color: white;
}

tbody > tr:nth-child(odd){
    background-color: #b1e5f2;
}

.finalearticolo{
    margin-bottom: 20px;
}

h2{
    color: gray;
    font-size: 18px;
    margin-bottom: 20px; 
}

#purplescreen{
    background-image: url(/img/monitor.jpg);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-style: bold;
    padding: 10px;
    margin-bottom: 10px;
}

#blackscreen{
    background-image: url(/img/graph.jpg);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-style: bold;
    padding: 10px;
}
